.loader1 {
    width: 30px;
    height: 26px;
    --c:no-repeat linear-gradient(#fff 0 0);
    background:
      var(--c) 0    100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size:8px calc(100% - 4px);
    position: relative;
  }
  .loader1:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    left: 0;
    top: 0;
    animation: 
      l3-1 1.5s  linear infinite alternate,
      l3-2 0.75s cubic-bezier(0,200,.8,200) infinite;
  }
  @keyframes l3-1 {
    100% {left:calc(100% - 8px)}
  }
  @keyframes l3-2 {
    100% {top:-0.1px}
  }
  